# VS Code
.vscode/

# React
improvement-management-frontend/node_modules/
improvement-management-frontend/dist/
improvement-management-frontend/.env
improvement-management-frontend/.env.local

# Spring Boot
improvement-management-backend/target/

# OS
.DS_Store
Thumbs.db